/* Common CSS */

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif;
    max-width: 1920px;
}

.btn-common {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
    border: 0;
    border-radius: 8px;
    background: #E55473;

}

/* Header related css */
header {
    display: flex;
    background-color: rgba(229, 84, 115, 0.10);
    padding: 0px 150px;
    gap: 40px;
    margin-bottom: 178px;

}

.banner-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 0;
}

.banner-paragraph {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 32px;
}

/* section-1 css */

.section-1 {
    margin-bottom: 128px;
}

.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0;

}

.section-paragraph {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
    padding: 0 600px;
    margin-bottom: 50px;
}

.section-images {
    display: flex;
    height: 538px;
    width: 464px;
    margin: 0 auto;
    justify-content: center;
}

.image-1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 110px 78px 0 76px;
    height: 428px;
    margin-right: 0;
}

.image-2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 117px 47px 51px 47px;
    height: 370px;
    margin-left: 24px;
    margin-right: 0;
}

.image-3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 67px 75px 0 75px;
    margin-left: 24px;
    height: 471px;
}

.caption {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-top: 32px;
}

.caption-1 {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-top: 75px;
}

/* section-2 */

.section-2 {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    width: 1440px;
    height: 320px;
    margin: 0 240px;
    justify-content: space-between;
    /* justify-content: center; */
    align-items: center;
    gap: 100px;
}

.icon-caption {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
    flex-direction: column;
    align-items: center;
}

.icon {}

/* section-3 */

.section-3 {
    height: 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 130px;
    margin-bottom: 130px;
    display: flex;
    padding: 100px 429px 100px 393px;
    text-align: center;
}

.hot-deal {
    padding-top: 130px;
}

.section-3-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 0;
}

span {
    color: #E55473;
    font-size: 40px;
    font-weight: 800;
}

.section-3-paragraph {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
}

/* section-4 */

.section-4-images {
    display: flex;
    margin: 0 240px;
    justify-content: center;
}

.img {
    margin-right: 0;
    margin-left: 25px;
}

/* seection-5 */

.section-5 {
    background: url('../Flower%20Asset/Rectangle\ 9.png');
    background-repeat: no-repeat;
    margin: 0 240px;
    justify-content: center;
    border-radius: 8px;
    height: 449px;
    text-align: center;
    padding-top: 122px;
}


.section-5-paragraph {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 0;
}

.section-5-input {
    border-radius: 8px;
    background: #FFF;
    padding: 23px 500px 23px 23px;
    margin-top: 50px;
}

/* my section */

.my-section{
    width: 1440px;
height: 600px;
/* padding: 0 240px; */
}


       

.my-section-header-paragraph{
    text-align: center;
    background-color: blueviolet;
}

nav{
    display: flex;
    justify-content: space-between;
    
    
}
nav > ul{
    list-style: none;
    display: flex;
    
}
nav a{
    text-decoration: none;
    margin-right: 15px;
}
a{
    color: #111010;    
}
a:hover{
    background-color: rgba(229, 84, 115, 0.05);
}

.my-section-body{
    display: flex;
    
    padding-left: 200px;
    padding-top: 50px;
    gap: 50px;
}

.column-2{
   background-image: url('../Flower%20Asset/HD-wallpapers.jpg');
   background-size: cover;
   width: 100%;
  height: 300px;
  padding: 50px 100px;
}

.column-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    font-style: italic;
}
.column-paragraph{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px; 
}

.btn{
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
    border: 0;
    border-radius: 8px;
    background: #E55473;
    margin-left: 150px;
}
    







/* footer  */

footer {
    height: 449px;
    background: #111010;
    padding-top: 130px;
    text-align: center;
}

.section-title-footer {
    color: #FFF;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 0;
}

.section-paragraph-footer {
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
    margin-bottom: 0;
    padding: 0 650px;
}

#section-paragraph-1-footer {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    margin-top: 20px;
}
#flower{
    color: #E55473;
font-size: 48px;
font-weight: 800;
}